.picker {
  position: absolute;
}

.picker .ui-colorpicker-border {
  border: 1px solid black;
}

.picker .ui-dialog {
  padding: 10px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: small;
}
