div#source, div#preview-holder {
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  top: 10px;
}

div#preview-holder {
  right: 0px;
  border-left: 1px solid black;
  background: white;
}

iframe#preview {
  border: none;
  width: 100%;
  height: 100%;
}

.CodeMirror, .CodeMirror-scroll {
  min-height: 100%;
  height: 100%;
}
