@font-face {
    font-family: 'TrashHandRegular';
    src: url('../fonts/TrashHand-webfont.eot');
    src: url('../fonts/TrashHand-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TrashHand-webfont.woff') format('woff'),
         url('../fonts/TrashHand-webfont.ttf') format('truetype'),
         url('../fonts/TrashHand-webfont.svg#TrashHandRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'BebasRegular';
  src: url('../fonts/BEBAS___-webfont.eot');
  src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BEBAS___-webfont.woff') format('woff'),
       url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
       url('../fonts/BEBAS___-webfont.svg#BebasRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  color: #414244;
  min-width: 800px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(white));
  background-image: -webkit-linear-gradient(top, #e6e6e6, white);
  background-image: -moz-linear-gradient(top, #e6e6e6, white);  
  background-image: -o-linear-gradient(top, #e6e6e6, white);
}

header {
  height: 100px;
  overflow: hidden;
  -moz-transition: height 0.25s;
  -webkit-transition: height 0.25s;
}

section {
  top: 100px;
}

header.section-editor {
  height: 250px;
}

section#editor {
  top: 250px;
}

#instructions {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 150px;
  padding: 10px;
  overflow: auto;
}

#instructions blockquote, #instructions code {
  font-family: Monaco, "Lucida Console", monospace;
  font-size: smaller;
}

header {
  background-color: #0166ff;
  position: relative;
  display: block;                     /* Needed on IE8 for some reason. */
  box-shadow: 0px 5px 10px #414244;
}

header h1 {
  font-family: 'BebasRegular';
  font-weight: normal;
  position: absolute;
  top: 30px;
  left: 20px;
  margin: 0px;
}

header a {
  color: inherit;
  text-decoration: none;
}

header h1 span.logo {
  font-family: 'TrashHandRegular';
  font-size: 50px;
  padding-right: 10px;
  color: white;
}

section {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 30px;
  -moz-transition: -moz-transform 1s;
  -webkit-transition: -webkit-transform 1s;
  -o-transition: -o-transform 1s;
  display: none;
}

section.out-on-right {
  -moz-transform: translate(100%);
  -webkit-transform: translate(100%);
  -o-transform: translate(100%);
}

section.out-on-left {
  -moz-transform: translate(-100%);
  -webkit-transform: translate(-100%);
  -o-transform: translate(-100%);
}

section div.wrapper {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

section img.lovebomb-person {
  position: absolute;
  width: 300px;
  top: 30px;
  left: 10px;
}

section div.details {
  padding-top: 70px;
  margin-left: 375px;
}

section h2 {
  font-family: 'TrashHandRegular';
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 10px;
}

section aside {
  font-size: 14px;
  padding-bottom: 30px;
}

section#intro a.button {
  width: 80%;
  background-color: #0166ff;
}

header.section-editor div.editor-actions {
  opacity: 1.0;
  visibility: visible;
}

header div.editor-actions {
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0;
  visibility: hidden;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
}

header button {
  background: #414244;
  box-shadow: none;
}

button, a.button {
  font-family: 'BebasRegular';
  font-size: 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 5px 5px 10px #414244;
}

button:hover, a.button:hover {
  text-decoration: underline;
}

footer {
  background: #414244;
  color: #a0a0a0;
  text-align: center;
  font-size: 11px;
  padding-top: 8px;
  padding-bottom: 12px;
  position: absolute;
  height: 10px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

footer a {
  color: #e0e0e0;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
