@font-face {
    font-family: 'TrashHandRegular';
    src: url('fonts/TrashHand-webfont.eot');
    src: url('fonts/TrashHand-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/TrashHand-webfont.woff') format('woff'),
         url('fonts/TrashHand-webfont.ttf') format('truetype'),
         url('fonts/TrashHand-webfont.svg#TrashHandRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'BebasRegular';
  src: url('fonts/BEBAS___-webfont.eot');
  src: url('fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/BEBAS___-webfont.woff') format('woff'),
       url('fonts/BEBAS___-webfont.ttf') format('truetype'),
       url('fonts/BEBAS___-webfont.svg#BebasRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  color: #414244;
  min-width: 800px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9dee3), to(white));
  background-image: -webkit-linear-gradient(top, #f9dee3, white);
  background-image: -moz-linear-gradient(top, #f9dee3, white);  
  background-image: -o-linear-gradient(top, #f9dee3, white);
}

header {
  height: 100px;
  background-color: #aa4d9d;
  position: relative;
  box-shadow: 0px 5px 10px #414244;
}

header h1 {
  font-family: 'BebasRegular';
  font-weight: normal;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0px;
}

header a {
  color: inherit;
}

header h1 span.logo {
  font-family: 'TrashHandRegular';
  font-size: 50px;
  padding-right: 10px;
  color: white;
}

section {
  position: absolute;
  top: 100px;
  left: 0px;
  right: 0px;
  bottom: 30px;
  -moz-transition: -moz-transform 1s;
  -webkit-transition: -webkit-transform 1s;
  -o-transition: -o-transform 1s;
  display: none;
}

section.out-on-right {
  -moz-transform: translate(100%);
  -webkit-transform: translate(100%);
  -o-transform: translate(100%);
}

section.out-on-left {
  -moz-transform: translate(-100%);
  -webkit-transform: translate(-100%);
  -o-transform: translate(-100%);
}

section div.wrapper {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

section img.lovebomb-person {
  position: absolute;
  width: 300px;
  top: 30px;
  left: 10px;
}

section div.details {
  padding-top: 70px;
  margin-left: 375px;
}

section h2 {
  font-family: 'TrashHandRegular';
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 10px;
}

section aside {
  font-size: 14px;
  padding-bottom: 30px;
}

a.button {
  font-family: 'BebasRegular';
  font-size: 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #aa4d9d;
  cursor: pointer;
  color: white;
  width: 80%;
  box-shadow: 5px 5px 10px #414244;
}

a.button:hover {
  text-decoration: underline;
}

footer {
  background: #414244;
  color: #f0f0f0;
  text-align: center;
  font-size: 11px;
  padding: 10px;
  position: absolute;
  height: 10px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
