@font-face {
  font-family: 'SFWonderComicRegular';
  src: url('fonts/SF_Wonder_Comic-webfont.eot');
  src: url('fonts/SF_Wonder_Comic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/SF_Wonder_Comic-webfont.woff') format('woff'),
       url('fonts/SF_Wonder_Comic-webfont.ttf') format('truetype'),
       url('fonts/SF_Wonder_Comic-webfont.svg#SFWonderComicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;

  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  
  -webkit-text-size-adjust: none;
}

body, html {
  margin: 0 auto;
  height: 100%;
}

@media screen and (min-height: 500px) {
  body, html, .container {
    width: 500px;
    font-size: large;
  }
}

@media screen and (max-height: 500px) {
  body, html, .container {
    width: 400px;
    font-size: small;
  }
}

@media screen and (max-width: 320px) {
  body {
    -moz-transform: scale(0.5);
    -moz-transform-origin: 30% 0%;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 30% 0%;
    -o-transform: scale(0.5);
    -o-transform-origin: 30% 0%;
  }
}
