@font-face {
    font-family: 'SFWonderComicRegular';
    src: url('fonts/SF_Wonder_Comic-webfont.eot');
    src: url('fonts/SF_Wonder_Comic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SF_Wonder_Comic-webfont.woff') format('woff'),
         url('fonts/SF_Wonder_Comic-webfont.ttf') format('truetype'),
         url('fonts/SF_Wonder_Comic-webfont.svg#SFWonderComicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 320px) {
  body {
    -moz-transform: scale(0.4);
    -moz-transform-origin: 20% 0%;
    -webkit-transform: scale(0.4);
    -webkit-transform-origin: 20% 0%;
    -o-transform: scale(0.4);
    -o-transform-origin: 20% 0%;
  }
}
