<!DOCTYPE html>
<meta charset="utf-8">
<title>Positioner Unit Tests</title>
<link rel="stylesheet" href="qunit.css">
<script src="qunit.js"></script>
<h1 id="qunit-header">Positioner Unit Tests</h1>
<h2 id="qunit-banner"></h2>
<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>
<div id="qunit-fixture">
  <div id="sample-css">#beets {
  position: absolute;
  top: 10px;
  left: 30px;
  width: 100px;
  height: 100px;
}</div>
 <div id="blegh">
   <p>narg <em>blarg</em> of doom.</p>
 </div>
</div>
<script src="../positioner.js"></script>
<script>
module("positioner");

test("Positioner global exists", function() {
  equal(typeof(Positioner), "object", "Positioner is of type object");
});

test("utils.parseCss() works", function() {
  var text = document.getElementById("sample-css").textContent;
  var rules = Positioner.utils.parseCss(text);
  var expectedBeets = {"#beets": {
    position: "absolute", top: "10px", left: "30px",
    width: "100px", height: "100px"
  }};
  deepEqual(rules, expectedBeets);
  var beets = document.createElement("div");
  beets.setAttribute("id", "beets");
  document.body.appendChild(beets);
  Positioner.utils.applyCss(rules, beets);
  var cssText = Positioner.utils.makeCss(beets);
  deepEqual(Positioner.utils.parseCss(cssText), rules);
  document.body.removeChild(beets);
});

test("utils.closestElementWithId() works", function() {
  var em = document.querySelector("#blegh em");
  var blegh = document.getElementById("blegh");
  equals(blegh, Positioner.utils.closestElementWithId(em));
  equals(blegh, Positioner.utils.closestElementWithId(blegh));
});

test("utils.addOrReplaceStyleHtmlToPage() works w/ snippet", function() {
  var start = '<p>hi</p>';
  var rules = '#blah {}';
  equals(Positioner.utils.addOrReplaceStyleHtmlToPage(start, rules),
         '<p>hi</p><style id="positioner-data">\n#blah {}\n</style>');
});

test("utils.addOrReplaceStyleHtmlToPage() works w/ html page", function() {
  var start = '<!DOCTYPE html>\n<meta charset="utf-8">\n' +
              '<title>My page</title>\n<p>blah</p>';
  var rules = '#flarg {}';
  equals(Positioner.utils.addOrReplaceStyleHtmlToPage(start, rules),
         '<!DOCTYPE html>\n<meta charset="utf-8">\n' +
         '<title>My page</title>\n' +
         '<style id="positioner-data">\n#flarg {}\n</style>\n' +
         '<p>blah</p>');
});

test("utils.addOrReplaceStyleHtmlToPage() replaces styles", function() {
  var start = '<!DOCTYPE html>\n<meta charset="utf-8">\n' +
              '<title>My page</title>\n' +
              '<style id="positioner-data">\n#blah {}\n\n/**/\n</style>\n' +
              '<style>\n/* other stuff */\n</style>\n<p>blah</p>';
  var rules = '#NEWNEW {}';
  equals(Positioner.utils.addOrReplaceStyleHtmlToPage(start, rules),
         '<!DOCTYPE html>\n<meta charset="utf-8">\n' +
         '<title>My page</title>\n' +
         '<style id="positioner-data">\n#NEWNEW {}\n</style>\n' +
         '<style>\n/* other stuff */\n</style>\n<p>blah</p>');
});
</script>
